html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 100%;
    line-height: 1.5rem;
    padding: 1rem;
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    line-height: 2rem;
}

img {
    width: 75%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 10%;
}

body>a {
    display: block;
    width: 100%;
    text-align: center;
}

li {
    margin: 0.5rem auto;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal-leading-zero;
}

ol>li::marker {
    font-weight: bold;
}

#recipes {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    list-style: none;
}

#recipes>li {
    margin: 0 auto;
    margin-bottom: 2rem;
}

#recipes a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    color: black;
}

#recipes span {
    display: inline-block;
    width: 45%;
    vertical-align: middle;
    background-color: bisque;
    padding: 1rem 0.5rem;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

#recipes img {
    display: inline;
    width: 45%;
    height: auto;
    vertical-align: middle;
    margin-right: 7%;
}