html {
    box-sizing: border-box;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    text-align: center;
    margin: 0 auto;
    min-height: 100vh;
    min-height: 100svh;
    width: 90%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div {
    margin: 0 auto;
}

button {
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    background: transparent;
    border: 1px solid black;
    transition: 50ms;
}

h1 {
    font-size: 2.5rem;
    margin: 1rem auto;
    word-break: break-all;
    hyphens: auto;
    hyphenate-character: "-";
}

header,
main {
    width: 100%;
}

#calc-display {
    border: 1px solid black;
    font-size: 2rem;
    text-align: start;
    padding: 2rem;
    background-color: #efefef;
}

#calc-body {
    margin-top: 1rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
}

#operators {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.operator {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

#others {
    flex-grow: 7;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.25rem;
}

#others>* {
    flex: 0 1 30%;
}

@media (orientation: landscape) {

    #operators {
        flex-basis: 50%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        justify-content: end;
        gap: 1rem;
    }

    .operator {
        flex-basis: 35%;
    }

    #others>* {
        flex: 0 1 20%;
    }

}